.hero{
   background: url("/hero.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 300px;
  padding: 2rem;
}
.intro {
  padding: 1rem;
  background: var(--bg-main);
}

.intro ul {
  list-style: disc;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  max-width: 800px;
  text-align: center;
}

.linkBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lead {
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin-bottom: 2rem;
  max-width: 700px;
}

.content {
  background: var(--bg-surface);
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  max-width: 800px;
}
.instruction{
  font-family: var(--second-font);
}
.content p {
  margin-bottom: 1.2rem;
  line-height: 1.7;
  color: var(--text-primary);
}

.content ul {
  margin: 1.5rem 0;
  padding-left: 1.2rem;
}

.content li {
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

.downloadLink {
  width: 300px;
    background: var(--bg-surface);
  color: var(--text-primary);
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.downloadLink:hover {
      background: var(--accent);
  color: var(--text-on-dark);
  border-color: var(--accent);
}

.icon{  width: 20px;
  height: 20px;
  fill: var(--text-primary);
transition: all 0.2s ease;}

  .downloadLink:hover .icon{
    fill: var(--text-on-dark)
  }