.hero{
   /* background: url("/hero.png"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 300px;
  padding: 0.5rem;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  max-width: 800px;
  text-align: center;
}

.hero img {
  width: 100%;
  object-fit: contain;
  display: block;
}