.dialogueBox .speakerLine{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.table {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  border-collapse: collapse;
  margin-top: 1rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.column {
  padding: 0 1.5rem;
  text-align: center;
  border-right: 1px solid #999;
}

.column:last-child {
  border-right: none;
}

.column .tableLine {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.column p {
  margin: 0.5rem 0;
  padding: 0.3rem 0;
}


